
html {
    scroll-behavior: smooth;
  }
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.lato {
  font-family: 'Lato', sans-serif !important;
}

.montserrat {
  font-family: 'Montserrat', sans-serif !important;
}
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
